.container {
    width: 90%;
    margin: 0 auto;
    display: block;
}

.heading {
    text-align: center;
    margin: 60px 0px;
    font-size: 36px;
    color: bisque;
    width: 100%;
    display: block;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.col {
    flex: 1;
    padding: 0px 20px;
    display: flex;
    margin-bottom: 35px;
}

.blog-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.4s ease;
    background-color: bisque;
    border-radius: 8px;
    overflow: hidden;
}
.blog-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.blog-card img {
    width: 100%;
    height: 225px;
    object-fit: cover;
}
.blog-card h3 {
    font-size: 25px;
    margin: 10px;
    text-align: center;
    color: #725A40;
}
.blog-card p {
    font-size: 16px;
    margin: 10px;
    color: rgb(110, 112, 71);
    flex: 1;
    padding: 5px;
}

.read-more {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 10px 0px;
    background-color: #725A40;
    color: bisque;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 5px;
    transition: all 0.3s ease;
}
.read-more:hover {
    background-color: #6d5a45;
    color: bisque;
    transition: all 0.3s ease;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .col {
        flex-basis: 100%;
        padding: 0px 50px;
    }
}

